@use '../utils' as *;

.header {
	position: sticky;
	top: 0;
	z-index: $ui-index-3;
	background-color: $background-color;

	&__container {
		@include flex-center;
		justify-content: space-between;
		min-height: px-to-rem(64px);
		padding-block: px-to-rem(8px);
		gap: px-to-rem(16px);

		@include responsive('xs') {
			justify-content: center;
		}
	}

	&__logo {
		img {
			min-width: px-to-rem(95px);
		}
	}

	&__options {
		@include flex-center;
		gap: px-to-rem(21px);
	}

	&__language {
		@include flex-center;
		label {
			width: px-to-rem(17px);
		}
	}

	&__auth {
		@include flex-center;
	}

	@include responsive('md') {
		&__container {
			flex-wrap: wrap;
		}
		&__search {
			order: 1;
		}
	}
}

.language-selector {
	@include flex-center;
	gap: px-to-rem(4px);

	&__dropdown {
		cursor: pointer;
		font-weight: 500;
		font-size: $font-small;
	}

	@include responsive('sm') {
		&__dropdown {
			font-size: px-to-rem($font-ultra-small);
		}
	}
}

.auth {
	font-weight: 500;
	font-size: $font-small;
	gap: px-to-rem(22px);
	line-height: px-to-rem(20px);

	&__login {
		&:hover {
			text-decoration: underline;
		}
	}

	&__signup {
		border-radius: px-to-rem(8px);
		padding: px-to-rem(8px) px-to-rem(16px);
		background: $button-color;
		color: $background-color;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: darken-color($button-color);
		}
	}

	&__signup,
	&__login {
		white-space: nowrap;
	}

	@include responsive('sm') {
		font-size: px-to-rem($font-ultra-small);
	}
}
