@use '../utils' as *;

body {
	background-color: $background-color;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

.wrapper > main {
	flex: 1;
}

[class*='__container'] {
	max-width: 1276px;
	padding-inline: 40px;
	margin: 0 auto;
	@include responsive('sm') {
		padding-inline: 20px;
	}
}

.page {
	&__events {
		margin-top: px-to-rem(24px);
	}
	&__join {
		margin-top: px-to-rem(40px);
	}
	&__categories {
		margin-top: px-to-rem(64px);
	}
	&__cities {
		margin-top: px-to-rem(64px);
	}
}
