@use '../utils' as *;

.hero {
	padding-block: px-to-rem(98px);
	@include responsive('md') {
		padding-block: px-to-rem(56px);
	}
	@include responsive('sm') {
		padding-block: px-to-rem(30px);
	}
	&__container {
		display: flex;
		align-items: center;
		gap: px-to-rem(55px);
		@include responsive('md') {
			flex-direction: column;
		}
		@include responsive('sm') {
			gap: px-to-rem(18px);
		}
	}

	&__content {
		max-width: px-to-rem(608px);
	}

	&__subtitle {
		line-height: lh-multiplier($font-medium, 24px);
		&:not(:first-child) {
			margin-top: px-to-rem(25px);
		}
		@include responsive('sm') {
			text-align: center;
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 24px);
		}
	}

	&__button-link {
		font-size: $font-medium;
		font-weight: 400;
		line-height: lh-multiplier($font-medium, 24px);
		&:not(:first-child) {
			margin-top: px-to-rem(24px);
		}
		@include responsive('sm') {
			display: block;
			max-width: px-to-rem(125px);
			margin: 0 auto;
		}
	}

	&__img {
		max-width: px-to-rem(380px);
		width: 100%;
		@include responsive('sm') {
			max-width: px-to-rem(215px);
		}
	}
}

//====================================================================================================================

.events {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:first-child) {
			margin-top: 60px;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		gap: px-to-rem(8px);
	}

	&__location {
		padding: 12px;
		@include flex-center;
		gap: 8px;
		background-color: $link-location-color;
		border-radius: 8px;

		@include responsive('md') {
			padding: 8px;
		}

		span {
			font-size: $h3;
			font-weight: 600;
			line-height: lh-multiplier($h3, 24px);
			color: $button-color;
			@include responsive('md') {
				font-size: $font-small;
			}
		}
	}

	&__all-link {
		font-weight: 500;
		line-height: lh-multiplier($font-medium, 24px);
		color: $button-color;

		&:hover {
			text-decoration: underline;
		}

		@include responsive('sm') {
			display: none;
		}
	}

	&__grid {
		margin-top: px-to-rem(24px);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: px-to-rem(36px);
		row-gap: px-to-rem(56px);
		@include responsive('lg') {
			grid-template-columns: repeat(3, 1fr);
		}
		@include responsive('md') {
			grid-template-columns: repeat(2, 1fr);
		}
		@include responsive('sm') {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.event-card {
	padding-bottom: px-to-rem(56px);
	&:hover &__img {
		scale: 1.05;
		filter: brightness(85%);
	}

	@include responsive('md') {
		padding-bottom: 32px;
	}

	&__img {
		object-fit: cover;
		width: 100%;
		border-radius: 8px;
		transition: all 0.3s ease;
	}

	&__text {
		margin-top: px-to-rem(12px);
		display: flex;
		flex-direction: column;
		gap: px-to-rem(8px);
	}

	&__title {
		font-size: $h3;
		font-weight: 600;
		line-height: lh-multiplier($h3, 24px);
	}

	&__category {
		color: $gray-color;
		font-size: $font-small;
		font-weight: 500;
		line-height: lh-multiplier($font-small, 20px);
		padding-block: 10px;
	}

	&__date {
		display: flex;
		align-items: center;
		gap: px-to-rem(6px);

		span {
			text-transform: uppercase;
			font-size: $font-small;
			line-height: lh-multiplier($font-small, 20px);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: px-to-rem(18px);
	}

	&__going,
	&__ticket {
		display: flex;
		align-items: center;
		gap: px-to-rem(8px);
	}
}

//====================================================================================================================

.join {
	&__content {
		border-radius: 8px;
		background-color: $secondary-background-color;
		padding-inline: px-to-rem(56px);
		padding-block: px-to-rem(36px);
		@include flex-center;
		gap: px-to-rem(75px);

		@include responsive('sm') {
			padding-block: px-to-rem(16px);
			padding-inline: px-to-rem(16px);
		}
	}

	&__info {
		flex: 2 1 0%;
		display: flex;
		flex-direction: column;
		gap: px-to-rem(16px);
	}

	&__img {
		display: none;
		align-self: center;
		@include responsive('lg') {
			display: inline-block;
		}
	}

	&__text {
		line-height: lh-multiplier($font-medium, 24px);
		@include responsive('sm') {
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 24px);
		}
	}

	&__sing-up {
		padding-block: px-to-rem(8px);
		padding-inline: px-to-rem(66px);
		background-color: $secondary-color;
		color: $background-color;
		border-radius: 8px;
		font-weight: 500;
		line-height: lh-multiplier($font-medium, 24px);
		transition: background-color 0.3s ease;
		align-self: start;

		&:hover {
			background-color: darken-color($secondary-color);
		}
		@include responsive('lg') {
			align-self: center;
		}
	}

	&__desktop-img {
		img {
			flex: 1 1 0%;
			width: 100%;
		}
		@include responsive('lg') {
			display: none;
		}
	}
}

//====================================================================================================================

.categories {
	&__grid {
		margin-top: px-to-rem(24px);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(135px, 2fr));
		gap: px-to-rem(16px);
	}
}
.category-card {
	@include flex-center;
	flex-direction: column;
	gap: 1rem;
	background-color: $secondary-background-color;
	padding: px-to-rem(26px);
	border-radius: 8px;
	transition: all 0.3s ease;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
	}
	&__icon {
		max-width: 20px;
	}

	&__text {
		text-align: center;
	}
}
