@use '../utils' as *;

.hero {
	padding-block: px-to-rem(98px);
	@include responsive('md') {
		padding-block: px-to-rem(56px);
	}
	@include responsive('sm') {
		padding-block: px-to-rem(30px);
	}
	&__container {
		display: flex;
		align-items: center;
		gap: px-to-rem(55px);
		@include responsive('md') {
			flex-direction: column;
		}
		@include responsive('sm') {
			gap: px-to-rem(18px);
		}
	}

	&__content {
		max-width: px-to-rem(608px);
	}

	&__subtitle {
		line-height: lh-multiplier($font-medium, 24px);
		&:not(:first-child) {
			margin-top: px-to-rem(25px);
		}
		@include responsive('sm') {
			text-align: center;
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 24px);
		}
	}

	&__button-link {
		font-size: $font-medium;
		font-weight: 400;
		line-height: lh-multiplier($font-medium, 24px);
		&:not(:first-child) {
			margin-top: px-to-rem(24px);
		}
		@include responsive('sm') {
			display: block;
			max-width: px-to-rem(125px);
			margin: 0 auto;
		}
	}

	&__img {
		max-width: px-to-rem(380px);
		width: 100%;
		@include responsive('sm') {
			max-width: px-to-rem(215px);
		}
	}
}

//====================================================================================================================

.events {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:first-child) {
			margin-top: 60px;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		gap: px-to-rem(8px);
	}

	&__location {
		padding: 12px;
		@include flex-center;
		gap: 8px;
		background-color: $link-location-color;
		border-radius: 8px;

		@include responsive('md') {
			padding: 8px;
		}

		span {
			font-size: $h3;
			font-weight: 600;
			line-height: lh-multiplier($h3, 24px);
			color: $button-color;
			@include responsive('md') {
				font-size: $font-small;
			}
		}
	}

	&__all-link {
		font-weight: 500;
		line-height: lh-multiplier($font-medium, 24px);
		color: $button-color;

		&:hover {
			text-decoration: underline;
		}

		@include responsive('sm') {
			display: none;
		}
	}

	&__grid {
		margin-top: px-to-rem(24px);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: px-to-rem(36px);
		row-gap: px-to-rem(56px);
		@include responsive('lg') {
			grid-template-columns: repeat(3, 1fr);
		}
		@include responsive('md') {
			grid-template-columns: repeat(2, 1fr);
		}
		@include responsive('sm') {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.event-card {
	padding-bottom: px-to-rem(56px);
	&:hover &__img {
		rotate: 1deg;
		scale: 1.03;
	}

	@include responsive('md') {
		padding-bottom: 32px;
	}

	&__img {
		object-fit: cover;
		width: 100%;
		border-radius: 8px;
		transition: all 0.3s ease;
	}

	&__text {
		margin-top: px-to-rem(12px);
		display: flex;
		flex-direction: column;
		gap: px-to-rem(8px);
	}

	&__title {
		font-size: $h3;
		font-weight: 600;
		line-height: lh-multiplier($h3, 24px);
	}

	&__category {
		color: $gray-color;
		font-size: $font-small;
		font-weight: 500;
		line-height: lh-multiplier($font-small, 20px);
		padding-block: 10px;
	}

	&__date {
		display: flex;
		align-items: center;
		gap: px-to-rem(6px);

		span {
			text-transform: uppercase;
			font-size: $font-small;
			line-height: lh-multiplier($font-small, 20px);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: px-to-rem(18px);
	}

	&__going,
	&__ticket {
		display: flex;
		align-items: center;
		gap: px-to-rem(8px);
	}
}

//====================================================================================================================

.join {
	&__content {
		border-radius: 8px;
		background-color: $secondary-background-color;
		padding-inline: px-to-rem(56px);
		padding-block: px-to-rem(36px);
		@include flex-center;
		gap: px-to-rem(75px);

		@include responsive('sm') {
			padding-block: px-to-rem(16px);
			padding-inline: px-to-rem(16px);
		}
	}

	&__info {
		flex: 2 1 0%;
		display: flex;
		flex-direction: column;
		gap: px-to-rem(16px);
	}

	&__img {
		display: none;
		align-self: center;
		@include responsive('lg') {
			display: inline-block;
		}
	}

	&__text {
		line-height: lh-multiplier($font-medium, 24px);
		@include responsive('sm') {
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 24px);
		}
	}

	&__sing-up {
		padding-block: px-to-rem(8px);
		padding-inline: px-to-rem(66px);
		background-color: $secondary-color;
		color: $background-color;
		border-radius: 8px;
		font-weight: 500;
		line-height: lh-multiplier($font-medium, 24px);
		transition: background-color 0.3s ease;
		align-self: start;

		&:hover {
			background-color: darken-color($secondary-color);
		}
		@include responsive('lg') {
			align-self: center;
		}
	}

	&__desktop-img {
		img {
			flex: 1 1 0%;
			width: 100%;
		}
		@include responsive('lg') {
			display: none;
		}
	}
}

//====================================================================================================================

.categories {
	&__grid {
		margin-top: px-to-rem(24px);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(135px, 2fr));
		gap: px-to-rem(16px);
	}
}
.category-card {
	@include flex-center;
	flex-direction: column;
	gap: 1rem;
	background-color: $secondary-background-color;
	padding: px-to-rem(26px);
	border-radius: 8px;
	transition: all 0.3s ease;

	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
	}
	&__icon {
		max-width: 20px;
	}

	&__text {
		text-align: center;
	}
}

//====================================================================================================================

.cities {
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(205px, 2fr));
		gap: px-to-rem(40px);

		&:not(:first-child) {
			margin-top: px-to-rem(28px);
		}

		@include responsive('sm') {
			gap: px-to-rem(18px);
		}
	}

	&__card {
		@include flex-center;
		flex-direction: column;
		gap: px-to-rem(24px);
		img {
			width: 100%;
			max-width: 205px;

			@include responsive('sm') {
				max-width: 155px;
			}
		}
	}
}

//====================================================================================================================

.works-info {
	&__cards {
		@include flex-center;
		gap: px-to-rem(32px);
		margin-top: px-to-rem(24px);
		align-items: stretch;
		@include responsive('lg') {
			flex-wrap: wrap;
		}
	}
}

.works-card {
	display: flex;
	align-items: flex-start;
	gap: px-to-rem(24px);
	flex: 1 1 50%;

	background-color: $secondary-background-color;

	padding: px-to-rem(32px) px-to-rem(112px) px-to-rem(24px) px-to-rem(24px);
	border-radius: px-to-rem(8px);
	transition: box-shadow 0.3s ease, transform 0.3s ease;

	&:hover {
		box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
		transform: translateY(-4px);

		.works-card__icon {
			transform: rotate(360deg);
		}

		.works-card__link {
			transform: translateX(4px);
			text-decoration: underline;
		}
	}

	@include responsive('sm') {
		padding: px-to-rem(16px);
	}
	&__icon {
		transition: transform 0.6s ease;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: px-to-rem(16px);
	}

	&__text {
		@include responsive('sm') {
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 15px);
		}
	}

	&__link {
		color: $button-color;
		font-weight: 500;
		transition: all 0.3s ease;
		text-decoration: none;
		align-self: start;

		@include responsive('sm') {
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 15px);
		}
		&:hover {
			color: darken-color($button-color, 8%);
		}
	}
}

//====================================================================================================================

.friendships {
	&__cards {
		margin-top: px-to-rem(28px);
		display: flex;
		gap: px-to-rem(32px);
		@include responsive('lg') {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
	}
}

.card-friendship {
	flex: 1 1 33%;
	@include responsive('lg') {
		flex: 1 1 50%;
		max-width: 376px;
	}
	&__img {
		width: 100%;
		object-fit: cover;
		border-radius: 8px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: px-to-rem(16px);
		margin-top: px-to-rem(24px);
	}

	&__info {
		color: $gray-color;
		@include responsive('sm') {
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 24px);
		}
	}

	&__link {
		color: $button-color;
		align-self: start;

		&:hover {
			text-decoration: underline;
		}

		@include responsive('sm') {
			font-size: $font-ultra-small;
			line-height: lh-multiplier($font-ultra-small, 24px);
		}
	}
}
