@use 'variables' as *;
@use "sass:map";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin box-shadow-white($x: 0px, $y: 0px, $blur: 6px, $color: #fff) {
  box-shadow: $x $y $blur $color;
}

@mixin box-shadow-black($x: 0px, $y: 0px, $blur: 6px, $color: #212121) {
  box-shadow: $x $y $blur $color;
}