// Цвета
$primary-color: #97cad1;
$secondary-color: #e32359;
$text-color: #212121;
$button-color: #00798a;
$background-color: #fff;
$secondary-background-color: #97cad114;
$border-color: #d9d9d9;
$orange-button-color: #f65858;
$footer-color: #f6f7f8;
$gray-color: #707070;
$lite-gray-color: #c5c4c4;
$gold-color: #7c6f50;

$facebook-color: #3b5998;
$x-color: #1da1f2;
$youtube-color: #ff4d4d;
$instagram-color: #e4405f;
$tiktok-color: #69c9d0;

$link-location-color: #97cad11f;

// Размеры шрифтов
$font-ultra-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;
$h3: 20px;
$h2: 28px;
$h1: 42px;
$h1-resp: 25px;

// z-index
$ui-index-1: 1; //Для наползающих элементов в общем потоке
$ui-index-2: 2; //Для наползающих элементов в общем потоке
$ui-index-3: 3; //Для хедера
$ui-index-4: 4; //Для масок
$ui-index-5: 5; //Для сайдбаров
$ui-index-6: 6; //Для модалок
$ui-index-7: 7; //Для элементов, перекрывающих ВСЁ

// Breakpoints
$breakpoints: (
	'xs': 423px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
);
