@use '../utils' as *;

@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	font-family: 'Roboto';
	font-size: px-to-rem(16px);
	color: $text-color;
}

h1 {
	font-size: $h1;
	font-weight: 700;
	line-height: lh-multiplier($h1, 52px);
	@include responsive('md') {
		font-size: $h2;
	}
	@include responsive('sm') {
		font-size: $h1-resp;
	}
}

h2 {
	font-size: $h2;
	font-weight: 600;
	line-height: lh-multiplier($h2, 36px);
	@include responsive('md') {
		font-size: $h3;
		line-height: lh-multiplier($h3, 25px);
	}
}
